# Importing Labraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading the Dataset

In [2]:
df = pd.read_excel("Bank data set 2.xlsx")
df.head()

   Duration  Subscription
0        171           no
1        840          yes
2        206           no
3        747          yes
4        263           no

In [3]:
data = df.copy()

# Mapping the Data

In [4]:
data['Subscription'] = data['Subscription'].map({'yes':1, 'no':0})
data.head()

   Duration   Subscription
0        171             0
1        840             1
2        206             0
3        747             1
4        263             0

In [5]:
X = data.iloc[:,[1]].values
y = data.iloc[:,-1].values

In [6]:
X
y

array([0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0], dtype=int64)

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,0] = le.fit_transform(X[:,0])

In [8]:
X

array([[0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0]], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=20, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
X_train

array([[-0.96824584],
       [ 1.03279556],
       [-0.96824584],
       [ 1.03279556],
       [-0.96824584],
       [ 1.03279556],
       [-0.96824584],
       [-0.96824584],
       [ 1.03279556],
       [-0.96824584],
       [-0.96824584],
       [ 1.03279556],
       [-0.96824584],
       [-0.96824584],
       [-0.96824584],
       [ 1.03279556],
       [-0.96824584],
       [ 1.03279556],
       [ 1.03279556],
       [-0.96824584],
       [ 1.03279556],
       [ 1.03279556],
       [-0.96824584],
       [ 1.03279556],
       [ 1.03279556],
       [-0.96824584],
       [ 1.03279556],
       [ 1.03279556],
       [-0.96824584],
       [-0.96824584],
       [ 1.03279556]])

In [12]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [13]:
y_pred = classifier.predict(X_test)
y_pred

array([1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0],
      dtype=int64)

In [14]:
y_test

array([1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0],
      dtype=int64)

# Making the Confusion-Matrix

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score
ac = accuracy_score(y_test,y_pred)
cm = confusion_matrix(y_test, y_pred)
ac

1.0

In [16]:
cm

array([[ 9,  0],
       [ 0, 11]], dtype=int64)